.list-group-item:hover{
    background-color: aliceblue;
}

#index-left .list-group .list-group-item{
    margin-bottom: 2px;
}
/*标题*/
#index-left .list-group .list-group-item .list-group-item-heading a{
    text-decoration:none
}
/*内容*/
#index-left .list-group .list-group-item .list-group-item-text{
    height: 90px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
/*头像*/
.article-attribute img{
    width:45px;
    height:45px;
}
/*姓名*/
.article-attribute div:first-child span:nth-child(2){
    display: inline-block;
    margin-left: 4px;
    width:130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}
/*日期时间*/
.article-attribute div:first-child span:last-child{
    display: inline-block;
    height:45px;
    line-height: 45px;
    margin-left: 4px;
}
/*点赞、查看、评论*/
.article-attribute div:last-child span{
    height: 45px;
    line-height: 45px;
    margin-right: 4px;
    margin-left: 4px;
}
/*火热图标*/
#index-right .panel-heading span:first-child{
    color: darkred;
}
/*更多符号*/
#index-right .panel-heading a{
    float: right;
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
}

/*右边列表*/
#index-right .list-group-item a{
    text-decoration: none;
}