<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <div th:replace="~{common/baseimport :: baseimport}"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<script type="application/javascript">

</script>
<body>
<div th:replace="~{common/header :: header}"></div>
<main role="main" class="flex-shrink-0">
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div th:replace="~{common/homebase :: homebase}"></div>
            <div class="col-sm-12 col-md-9" id="article-list">
                <div class="list-group">
                </div>
                <div id="paging">

                </div>
            </div>
        </div>

    </div>
</main>
<div th:replace="~{common/footer :: footer}"></div>
</body>
<script type="text/javascript" th:src="@{/js/direct/home.js}"></script>
<script type="text/javascript" th:src="@{/js/common/homebase.js}"></script>
<script type="text/javascript" th:src="@{/js/common/paging.js}"></script>
</html>